extends layout

block content
  |<script src=//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js></script>
  |<script src=/javascripts/bundle.js></script>

  script.
    $(document).ready(function() {
      var app = new App();
      app.start({items: "#{props.items}"});
    })

  script.
    $(document).ready(function() {
      var id = $("#example div:first").attr('data-react-checksum');
      $(".same span.before").text(id);

      var id = $("#example2 div:first").attr('data-react-checksum');
      $(".different span.before").text(id);
    })

  h1 Welcome To Node, Express, React Example
  div.same
    h2 Same Data
    p Checksum before rendering client side component 
      span.before

    p Checksum after rendering client side component 
      span.after
    div#example !{component_same}

  div.different
    h2 Different Data
    p Checksum before rendering client side component 
      span.before

    p Checksum after rendering client side component 
      span.after

  div#example2 !{component_different}
